python-jose[cryptography]
passlib
bcrypt>=4.0.0
argon2-cffi>=21.0.0
python-multipart
tree-sitter
tree-sitter-python
tree-sitter-java
tree-sitter-javascript
tree-sitter-c
tree-sitter-cpp
tree-sitter-c-sharp
sentence-transformers
langchain-community
langchain-core
langgraph
faiss-cpu
python-dotenv
sqlalchemy
fastapi
uvicorn
pydantic
reportlab>=4.0.0